@page "/actor1"

<h3>Actor1</h3>
<PageTitle>Actor1</PageTitle>

<button class="btn btn-success" @onclick="ActorSetData">Set data</button>
<button class="btn btn-primary" @onclick="ActorGetData">Get data</button>
<button class="btn btn-info" @onclick="ActorRegisterReminder">Register reminder</button>
<button class="btn btn-warning" @onclick="ActorUnregisterReminder">Unregister reminder</button>
<button class="btn btn-light" @onclick="ActorRegisterTimer">Register timer</button>
<button class="btn btn-danger" @onclick="ActorUnregisterTimer">Unregister timer</button>

